.spectacle-box .default-poster {
  height: 50px;
}
.spectacle-box > div {
  background-color: #fff;
  padding: 30px 10px 35px 10px;
  text-align: center;
}
.spectacle-box > div span.date {
  font-family: 'Open-Sans-Bold';
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
}
.spectacle-box > div span.distribution {
  font-family: 'Libre-Baskerville-Regular';
  color: #000;
  font-size: 14px;
}

.spectacle-box > div a.poster-une img {
  margin: 30px 0 35px 0;
  width: 100%;
  height: auto;
}
.spectacle-box > div a.btn-red,
.spectacle-box > div a.btn-black {
  padding: 10px 20px;
  text-transform: uppercase;
}
.equipe-box {
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 15px;
  width: 108px;
  height: 240px;
  display: inline-block;
  float: left;
}
.equipe-box:last-child {
  margin-bottom: 70px;
}


.equipe-box > div {
  padding: 0px !important;
}

.equipe-box > div .title {

}
.equipe-box > div .info {
  padding: 5px;
 background : #0099ff;
 color: white;
font-size: 12px;
height:80px;
}
.equipe-box > div .info h4 {
  color: #000000;
  font-size: 16px;
  font-family: 'Open-Sans-Bold';
  margin-top: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.equipe-box > div .info .service {
  font-size: 12px;
  font-family: "Libre-Baskerville-Regular";
  color: #b2a6a6;
}

.equipe-box > div .info .icon-bloc {
  margin-top: 10px;
}
.equipe-box > div .info .icon-bloc a {
  font-size: 20px;
}
.equipe-box > div .info .icon-bloc a:hover {
  color: #eb2136;
  cursor: pointer;
}
.equipe-box > div .info .icon-bloc a i {
  margin-right: 0px !important;
}
.equipe-box > div .info .icon-bloc a.mail {
  margin-right: 5px;
}
.equipe-box > div .info .icon-bloc a.phone {
  margin-left: 5px;
  margin-right: 5px;
}
.equipe-box > div .info .icon-bloc a.twitter {
  margin-left: 5px;
}
.equipe-box > div .info .icon-bloc a.twitter {
  margin-left: 5px;
}
.equipe-box > div .info .icon-bloc .popover {
  height: auto !important;
  max-width: 100%;
}
.equipe-box > div .info .icon-bloc .popover:last-child {
  margin-left: 0px;
}
.equipe-box .img-profil {
  width: 100%;
  overflow: hidden;
}
.equipe-box .img-profil img {
  width: 130px;
 height: 132px;
}