/*
Theme Name: Awaken_nr
Description: Version Nantes-Roller du thème Awaken
Author: Patrick Raguin
Author URI: https://www.patrick-raguin.fr
Template: awaken
Version: 1.0.0
*/

blockquote {
  background: #f8f8f8;
  margin: 1.5em 0;
  padding: 1.5em;
  border-left: 2px solid #000099;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: none;
  background: #000099;
  color: #fff;
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1;
  padding: 10px 20px;
  border-radius: 3px;
}

p {
	text-align: justify;
}

.top-navigation ul ul {
  background-color: #000099;
  padding: 10px;
}

.main-navigation {
  background: #000099;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: none;
  /*border-radius: 10px;*/
}
.main-navigation a {
  color: #FFFFFF;
  line-height: 20px;
  padding: 15px 15px;
  font-size: 17px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.main-navigation a:hover {
  background: #0099ff;
  color: #f1f1f1;
}
.main-navigation ul ul {
  background-color: #000099;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  text-transform: none;
  padding: 10px;
}
.main-navigation ul ul a {
  color: #FFFFFF;
  line-height: 20px;
  padding: 10px 15px;
}
.main-navigation ul ul a:hover {
  background: #0099ff;
}
.main-navigation li.current-menu-item {
  background-color: #0099ff;
}
.main-navigation li.current-menu-item a {
  color: #fff;
}
.main-navigation .menu-item-has-children > a:after,
.main-navigation .page_item_has_children > a:after {
  color: #FFFFFF;
  content: "\f054";
  display: inline-block;
  float: right;
  font-family: FontAwesome;
  font-size: 10px;
  margin: 2px 0 0 10px;
}

.nr_forum_title:after {
	content: "\f01e";
	color: #FFFFFF;
	font-family: FontAwesome;
	margin: 2px 0 0 10px;
	cursor: pointer;
}

.image_prochaine_rando {
	float: right;
}

.sub-menu {
	display:none;
  }


.main-navigation ul {
	margin: 0;
}



.post-navigation a:hover {
  color: #0099ff;
}


.page-numbers a:hover {
  background: #000099;
}
.page-numbers .current {
  background: #000099;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
}

#awaken-search-form input[type="text"] {
	width: 200px;
}

#awaken-search-form input[type="submit"] {
  border-radius: 0;
  box-shadow: none;
  background-color: #000099;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-shadow: none;
  text-transform: uppercase;
  width: 110px;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
#awaken-search-form input[type="submit"]:hover {
  background: #000099;
}

#main-nav-button,
#top-nav-button {
  background: #232323;
  color: #fff;
  display: none;333333
  line-height: 50px;
  margin: 0 0 2px 0;
  text-align: left;
  width: 100%;
}

.responsive-mainnav li a:hover,
.responsive-topnav li a:hover {
  background: #000099;
}

.main-widget-area ul li a:hover {
  text-decoration: none;
  color: #000099;
}

.widget {
  margin: 0 0 2em;
  /* Make sure select elements fit in widgets */
}

.main-widget-area .widget-title {
  background: #000099;
  color: white;
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 500;
  height: 32px;
  line-height: 32px;
  margin: 0 0 1px 0;
  padding: 0 1.2em;
  text-transform: uppercase;
}


.widget-title-container {
  border-bottom: 2px solid #000099;
  margin-bottom: 10px;
}

.awt-container {
  border-bottom: 2px solid #000099;
  margin-bottom: 25px;
}

.awt-title {
  background: #000099;
  color: white;
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 500;
  height: 32px;
  line-height: 32px;
  margin: 0 0 1px 0;
  padding: 0 1.2em;
  text-transform: uppercase;
}

.ams-title a:hover {
  color: #000099;
}

.awaken-slider-title:hover {
  color: #000099;
  text-shadow: none;
}

#progress {
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 0px;
  background: #000099;
  z-index: 500;
}

.afp-title a:hover {
  color: #000099;
  text-shadow: none;
}

#awt-widget {
  background: #444;
  margin-bottom: 25px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 2px solid #000099;
}

#awt-widget > li.active > a, .nav-tabs > li.active > a:hover,
#awt-widget > li.active > a:focus {
  border: none;
  background: #000099;
}

#awaken-tags a:hover {
  background: #000099;
  color: #fff;
}

.site-footer a:hover {
  color: #000099;
}

.site-title a {
  color: #000099;
  text-decoration: none;
}

.page-entry-title,
.archive-page-title,
.search-page-title {
  background: #000099;
  color: white;
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  margin: 0 0 0.1em 0;
  padding: 0 1.2em;
  text-transform: uppercase;
  word-wrap: break-word;
}

.page-entry-header,
.archive-page-header,
.search-page-header {
  border-bottom: 2px solid #000099;
  margin-bottom: 1.5em;
}

.genpost-entry-title a:hover {
  color: #000099;
}

.genpost-entry-meta a:hover,
.single-entry-meta a:hover,
.genpost-entry-footer a:hover {
  color: #000099;
}

.awaken-category-list a:hover,
.awaken-tag-list a:hover {
  background: #000099;
  color: #fff;
}

.moretag:hover {
  color: #000099 !important;
}

.comment-author .fn,
.comment-author .url,
.comment-reply-link,
.comment-reply-login {
  color: #000099;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
}

.site-branding {
  min-height: 0px;
  margin-top: 10px;
}

.site-logo {
  display: inline;
  float: left;
  /*margin-left:	81px;*/
  /*background: url(https://www.nantes-roller.com/wp-content/uploads/2016/09/logo_nr1-1.png) no-repeat;*/
  background: url(https://www.nantes-roller.com/wp-content/themes/awaken_nr/images/Banner.png) no-repeat;
  height: 85px;
  width: 100%;
}

.site-header {
  margin-bottom: 20px;
}

.breadcrumbs {
 margin-bottom: 30px;
}

.awaken-featured-container {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
}

.awaken-slider-container {
  position: relative;
  width: 100%;
  box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  max-height: 100%;
	max-width: 100%;
}
.awaken-slider-container img {
  z-index: -2;
  max-width: 100%;
  position: relative;
  max-height: 100%;
	max-width: 100%;
	height:	440px;
}


/* Home page featured slider */
.awaken-featured-slider {
  float: left;
  width: 65.964912280701754385964912280702%;
}


.partners li{
	display: inline-block; 
	vertical-align: middle; 
	padding: 2px 8px;
	width: 130px;
	margin: 0.4em 0.2em;
	text-align: center;
}

.main-widget-area ul li {
  margin: 0.4em 0;
  padding: 2px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.partners img {
	max-width:120px;
	margin: 5px;
}

.site-footer {
  background: #323232;
  margin-top: 40px;
}

.footer-site-info {
	background: #323232;
}

.footer-widget-title {
  color: whitesmoke;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  font-size: 3rem;
  font-weight: 500;
  margin: 0 0 25px 0;
  text-transform: uppercase;
}


.genpost-featured-image img {
  width: initial;
}


.mc4wp-form {
 position: relative;
 padding:4px;
 font-size: 1em;
 line-height: 18px;
 /*background: #fff;*/
}

/** Checkbox **/

/* Customize the label (the container) */
.label_container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  /*font-size: 22px;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 500;
}

/* Hide the browser's default checkbox */
.label_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.label_checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid;
}

/* On mouse-over, add a grey background color */
.label_container:hover input ~ .label_checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.label_container input:checked ~ .label_checkmark {
  background-color: #000099;
}

/* Create the checkmark/indicator (hidden when not checked) */
.label_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.label_container input:checked ~ .label_checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.label_container .label_checkmark:after {
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type="email"] {
	border: 1px solid;
    width: 100%;
    padding: 8px;
    font-size: 13px;
    line-height: 18px;
    color: #636363;
}

input[type="submit"] {
    border: 0px;
    right: 5px;
    font-size: 13px;
    line-height: 18px;
    padding: 8px 20px;
    font-weight: bold;
}

@media (max-width: 1000px) {
  .main-navigation {
    display: block;
  }

  .awaken-featured-container {
    display: none;
  }

}

@media (max-width: 768px) {
  
  .main-navigation ul,
  .top-navigation ul {
    display: none;
  }
  
  .main-navigation li {
	float:none;
	}
  
  .main-navigation {
    display: block;
  }

  .awaken-featured-container {
    display: none;
  }

  .image_prochaine_rando {
   float: inherit;
  }

}

.page-numbers a:hover, a:focus {
	color: white;
}

@media screen and (max-width: 600px) {


  
  
  
  .main-navigation li {
	float:none;
	}

	
	.site-logo {
	  /*background: url(https://www.nantes-roller.com/wp-content/uploads/2017/01/nr_logo_light.jpg) no-repeat;*/
	  background: url(https://www.nantes-roller.com/wp-content/themes/awaken_nr/images/Banner.png) no-repeat;
	}
}

.rando_detail {
	padding-top: 10px;
	/*border : 2px solid rgb(194, 40, 71);*/
	border : 2px solid #0099ff;
}
